@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

* {
    font-family: 'Rubik Spray Paint', cursive;
    font-style: normal;
    font-weight: 400;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.start {
    width: 100%;
    height: 36vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.start__title {
    font-size: 96px;
    font-weight: 500;
}

.start__button {
    width: 12rem;
    height: 4rem;

    background: #E2A975;
    box-shadow: 1px 1px 3px 2px rgba(255, 253, 253, 0.13);
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start__button:hover {
    background: #fc873e;
}

.start__button:active {
    background: #f7701d;
}

.start__button__text {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.88);
}

.game {
    width: 100%;
    height: 82vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    visibility: hidden;
}

.game__board {
    padding: 1rem;

    width: 35rem;
    height: 35rem;
    aspect-ratio: 16 / 9;

    background: #00ABB6;
    border-radius: 35px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
}

.game__board__element {
    width: 10rem;
    height: 10rem;

    background: #EDEDED;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0 black;
}

.game__board__element__cross {
    width: 1rem;
    height: 8rem;

    background-color: red;

    margin: 0 auto;
    position: relative;
}

.game__board__element__cross:first-of-type {
    top: 1rem;
    transform: rotate(45deg);
}

.game__board__element__cross:last-of-type {
    bottom: 7rem;
    transform: rotate(-45deg);
}

.game__board__element__circle {
    margin: 0 auto;
    position: relative;

    border-radius: 50%;
}

.game__board__element__circle:first-of-type {
    width: 8rem;
    height: 8rem;
    
    top: 1rem;
    z-index: 0;

    background-color: blue;
}

.game__board__element__circle:last-of-type {
    width: 6rem;
    height: 6rem;
    
    bottom: 6rem;
    z-index: 1;

    background-color: #EDEDED;
}

@media screen and (min-width: 320px) {
    * {
        font-size: 9.25px;
    }

    .start__title {
        font-size: 60px;
    }
}

@media screen and (min-width: 480px) {
    * {
        font-size: 9.75px;
    }

    .start__title {
        font-size: 66px;
    }
}

@media screen and (min-width: 600px) {
    * {
        font-size: 11.25px;
    }

    .start__title {
        font-size: 72px;
    }
}

@media screen and (min-width: 768px) {
    * {
        font-size: 12px;
    }

    .start__title {
        font-size: 80px;
    }
}

@media screen and (min-width: 1024px) {
    * {
        font-size: 13px;
    }

    .start__title {
        font-size: 86px;
    }
}

@media screen and (min-width: 1280px) {
    * {
        font-size: 14px;
    }

    .start__title {
        font-size: 92px;
    }
}