body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 42px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
    position: relative;
    width: 310px;
    height: 310px;  
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.cell:hover {
    background-color: #f5f5f5;
}

.message {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

.winning-line {
    position: absolute;
    background-color: #ff0000;
    transition: all 0.3s ease;
}

.winning-line.horizontal {
    height: 5px;
    width: 0;
    left: 0;
}

.winning-line.vertical {
    width: 5px;
    height: 0;
    top: 0;
}

.winning-line.diagonal-1,
.winning-line.diagonal-2 {
    height: 5px;
    width: 0;
    top: 0;
    left: 0;
    transform-origin: 0 0; /* Ensure the transform origin is set to the top-left corner */
    border-radius: 25%;
}